@charset "utf-8";

product {
    width: 60%; 
    margin: 100px auto 0 auto; 
    border:.5px solid rgb(102, 0, 102); 
    min-height: 300px; 
    padding: 20px;
    background-color: rgb(102, 255, 204);
}
item {
    display:block; 
    margin-bottom: 30px;
}
item name {
    display:inline-block; 
    font-size: 36px; 
    text-transform: capitalize;
    color: rgb(0, 51, 0); 
    width: 160px;
}
item category {
    display:inline-block; 
    color: rgb(102, 0, 102);
    border: .5 px dotted rgb(102, 0, 102);
}
item price{
    font-size:28px; 
    display:inline-block;
}
item price:before {
    content:"$"; 
}
item description: before {
    content: "Color options"; 
    font-size: 22px; 
    display:block; 
}
item description {
    list-style-type:disc; 
    list-style-position: inside;
    display:list-item;
}
