@charset "utf-8";

product {
    width: 80%; 
    margin: 50px auto 0 auto; 
    border:.5px solid rgb(102, 0, 102); 
    min-height: 300px; 
    padding: 20px;
    background-color: rgb(102, 255, 204);
}
category {
    display:inline-block; 
    color: rgb(102, 0, 102);
    border: .5px solid rgb(102, 0, 102);
    padding: 5px;
    margin: 10px;
}
category item {
    display:inline-block; 
    margin-bottom: 30px;
    font-size: 30px;
}
category item name {
    display:inline-block; 
    font-size: 25px; 
    text-transform: capitalize;
    text-align: center;
    color: rgb(0, 51, 0); 
    width: 150px;
}
category item price{
    font-size:25px; 
    display:inline-block;
}
category item price:before {
    content:"$"; 
}
category item description: before {
    content: "Candle Descriptions"; 
    font-size: 20px; 
    display:block; 
}

